.button {
  background-color: #0673bb;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 80%;
}

.button:hover {
  background-color: #053f96;
}
